@charset "utf-8";

* {
    box-sizing: border-box;
    color: #383E45;
}

.logo {
    width: 120px;
    margin: 10px 0;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 4%;
    text-align: center;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header ul {
    display: flex;
}

#header ul li a {
    text-decoration: none;
    margin-left: 30px;
    font-size: 14px;
}

.mainvisual img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    margin-bottom: 90px;
}

.section-title {
    font-size: 32px;
    font-weight: bold;
    border-bottom: 1px solid #383E45;
    display: inline-block;
    margin-bottom: 60px;
    padding-bottom: 9px;
}

.content {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    align-items: center;
}

.content img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 30px;
}

.content-title {
    margin-bottom: 13px;
    font-size: 16px;
}

.content .text {
    align-items: center;
    text-align: left;
}

.content .text p {
    font-size: 14px;
    line-height: 1.5;
}

#bicycle {
    margin-bottom: 110px;
}

#bicycle ul {
    display: flex;
   justify-content: space-between;

}

#bicycle ul li {
    list-style: none;
    width: 32%;
}

#bicycle ul li img {
    max-width: 100%;
    margin-bottom: 13px;
}

#bicycle h3 {
    font-size: 16px;
    margin-bottom: 13px;
}

#bicycle p {
    font-size: 14px;
}

#footer {
    font-size: 10px;
    padding: 10px 0;
}

@media (max-width:600px) {
    .content {
        flex-direction: column;
    }

    .content img {
        margin-bottom: 10px;
    }

    #bicycle ul {
        flex-direction: column;
    }

    #bicycle ul li {
        width: 100%;
        margin-bottom: 30px;
    }
}
